.footer {
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section {
    margin: 1rem 0;
}

.footer-section h3,
.footer-section h2 {
    color: #000000;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 0.5rem 0;
}

.footer-section a {
    color: #000000;
    text-decoration: none;
}

.footer-section a:hover {
    color: #6e6e6e;
}

/* Footer bottom section */
.footer-bottom {
    margin-top: 2rem;
    font-size: 0.9rem;
}

/* Responsive design */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-evenly;
    }
}